*{
  font-family: sans-serif;
}
body{
  background-color:#508AA8 ;
}
body > h2{
  text-align: center;
  color: FAA916;
}
#first>div, #second>div{
  display: flex;
  justify-content: space-around;
}
#first, #second{
  height: 200px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 15px solid#FAA916;
}
#first>div:hover{
  color: #FAA916;
  border-bottom: 15px solid black:
}
#first:hover{
  color: #FAA916;
  border-bottom: 15px;
  text-shadow: none;
}
#second:hover{
  text-shadow: 5px 5px 1px #FAA916;
}